.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  box-shadow: 0 0 8px hsl(0, 0%, 70%);
  font-family: sans-serif;
}
.summary {
  padding: 10px 20px;
}
.summary div {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  margin: auto 20px;
}
.summary h3 {
  margin-bottom: 5px;
}
.checkout {
  display: block;
  font-size: 1.1rem;
  width: 87%;
  color: white;
  background-color: var(--primary-500);
  border: 1px solid var(--primary-300);
  border-radius: 0.3em;
  padding: 0.6em 0;
  margin: 0 auto;
  transition: background-color 200ms ease;
  cursor: pointer;
}
.checkout:hover {
  background-color: var(--primary-600);
}
.checkout:disabled {
  cursor: not-allowed;
  background-color: var(--primary-700);
}
.error-msg {
  font-size: 1rem;
  font-weight: 500;
  color: var(--red-dark);
  margin-left: 30px;
  margin-top: 12px;
}
.error-msg svg {
  margin-right: 5px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
  .summary {
    padding: 10px;
  }
  .summary div {
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
  }
}
