.wrapper {
  padding: 1.2em;
  place-self: center center;
  box-shadow: 0 0 8px hsl(0, 0%, 70%);
  transition: transform 400ms ease;
  position: relative;
}
.wrapper:hover {
  transform: scale(1.03);
}
.wrapper img {
  object-fit: contain;
  align-self: center;
}
.details {
  padding: 5px 8px;
}
.brand {
  color: hsl(0, 3%, 55%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.title {
  font-size: 1.15rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prices {
  display: flex;
  gap: 1em;
  height: 50px;
  align-items: center;
}
.price {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(0, 100%, 20%);
}
.og-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: grey;
  text-decoration: line-through;
}
.size {
  font-weight: 400;
  color: hsl(0, 3%, 55%);
  margin-top: 9px;
}
.options {
  color: black;
  font-size: 0.85rem;
  background-color: hsl(0, 1%, 80%);
  border: 1px solid hsl(0, 11%, 86%);
  margin-left: 5px;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}
.grid {
  display: grid;
  width: 97%;
  gap: 1.7em;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 550px;
  margin: 1rem;
}

.empty {
  color: hsl(0, 92%, 15%);
  max-width: 600px;
  display: block;
  text-align: center;
  margin: 4vh auto;
}
.empty h2 {
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.empty h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.icon {
  color:white;
  position: absolute;
  padding-left: 7px;
  right: 10px;
  top: -15px;
  height: 30px;
  width: 20px;
  background-color: tomato;
  font-size: 1.5rem;
  border-radius: 100%;
  border: 1px solid red;
}

.btn {
  font-size: 1.15rem;
  padding: 0.4em 0.65em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 400ms ease;
}
.btn-primary {
  color: hsl(49, 98%, 5%);
  background-color: hsl(49, 98%, 50%);
  border: 1px solid hsl(49, 98%, 60%);
  margin-right: 10px;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid transparent;
}
.btn-primary:hover {
  background-color: hsl(49, 92%, 65%);
  border: 1px solid hsl(49, 98%, 75%);
}
.btn-secondary:hover {
  border: 1px solid black;
}
